{##
 # Customer refunded order email
 #
 # This template can be overridden by copying it to yourtheme/woocommerce/emails/customer-refunded-order.php.
 #
 # HOWEVER, on occasion WooCommerce will need to update template files and you
 # (the theme developer) will need to copy the new files to your theme to
 # maintain compatibility. We try to do this as little as possible, but it does
 # happen. When this occurs the version of the template file will be bumped and
 # the readme will list any important changes.
 #
 # @see https://docs.woocommerce.com/document/template-structure/
 # @package WooCommerce\Templates\Emails
 # @version 3.7.0
 #}


{#
 # @hooked WC_Emails::email_header() Output the email header
 #}
{% do action( 'woocommerce_email_header', wc.email_heading, wc.email ) %}

{# translators: %s: Customer first name #}
<p>{{ __( 'Hi %s,', 'woocommerce' )|format(wc.order.get_billing_first_name())|e }}</p>

<p>
{% if wc.partial_refund %}
	{# translators: %s: Site title  #}
	{{ __( 'Your order on %s has been partially refunded. There are more details below for your reference:', 'woocommerce' )|format(fn('wp_specialchars_decode', fn('get_option', 'blogname' ), ENT_QUOTES ) ) }}
{% else %}
	{# translators: %s: Site title #}
	{{ __( 'Your order on %s has been refunded. There are more details below for your reference:', 'woocommerce' )|format(fn('wp_specialchars_decode', fn('get_option', 'blogname' ), ENT_QUOTES ) ) }}
{% endif %}
</p>


{#
 # @hooked WC_Emails::order_details() Shows the order details table.
 # @hooked WC_Structured_Data::generate_order_data() Generates structured data.
 # @hooked WC_Structured_Data::output_structured_data() Outputs structured data.
 # @since 2.5.0
 #}
{% do action( 'woocommerce_email_order_details', wc.order, wc.sent_to_admin, wc.plain_text, wc.email ) %}

{#
 # @hooked WC_Emails::order_meta() Shows order meta data.
 #}
{% do action( 'woocommerce_email_order_meta', wc.order, wc.sent_to_admin, wc.plain_text, wc.email ) %}

{#
 # @hooked WC_Emails::customer_details() Shows customer details
 # @hooked WC_Emails::email_address() Shows email address
 #}
{% do action( 'woocommerce_email_customer_details', wc.order, wc.sent_to_admin, wc.plain_text, wc.email ) %}

{#*
 # Show user-defined additional content - this is set in each email's settings.
 #}
{% if wc.additional_content %}
    {{ wc.additional_content|wptexturize|wpautop|wp_kses_post }}
{% endif %}

{#
 # @hooked WC_Emails::email_footer() Output the email footer
 #}
{% do action( 'woocommerce_email_footer', wc.email ) %}
