{##
 # Pagination - Show numbered pagination for catalog pages
 #
 # This template can be overridden by copying it to yourtheme/woocommerce/loop/pagination.twig.
 #
 # HOWEVER, on occasion WooCommerce will need to update template files and you
 # (the theme developer) will need to copy the new files to your theme to
 # maintain compatibility. We try to do this as little as possible, but it does
 # happen. When this occurs the version of the template file will be bumped and
 # the readme will list any important changes.
 #
 # @see     https://woocommerce.com/document/template-structure/
 # @package WooCommerce\Templates
 # @version 9.3.0
 #}


{% set total   = wc.total ? wc.total : fn('wc_get_loop_prop', 'total_pages' ) %}
{% set current = wc.current ? wc.current : fn('wc_get_loop_prop', 'current_page' ) %}
{% set base    = wc.base ? wc.base : fn('remove_query_arg', 'add-to-cart', fn('get_pagenum_link', 999999999, false ) )|replace( { 999999999: '%#%' })|e('esc_url') %}
{% set format  = wc.format ? wc.format : '' %}

{% if total > 1 %}

    <nav class="woocommerce-pagination" aria-label="{{ __('Product Pagination', 'woocommerce')|esc_attr }}">
        {# todo: Replace with posts.pagination #}
        {{ fn('paginate_links', {
                'base'      : base,
                'format'    : format,
                'add_args'  : false,
                'current'   : max( 1, current ),
                'total'     : total,
                'prev_text' : fn('is_rtl') ? '&rarr;' : '&larr;',
                'next_text' : fn('is_rtl') ? '&larr;' : '&rarr;',
                'type'      : 'list',
                'end_size'  : 3,
                'mid_size'  : 3,
            }|apply_filters('woocommerce_pagination_args')
        ) }}
    </nav>
{% endif %}
